<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Log in or Register</title>
</head>
<body>
    <div class="d-flex justify-content-around">
        <div class="col-5 bg-primary text-dark text-center">
            <h1>Register</h1>
            {% for message in get_flashed_messages(category_filter=['reg']) %}
            <p class ="text-warning">{{message}}</p>
            {% endfor %}
            <form action="/users/register" method="post">
                <div class="form-group">
                    <label for="first_name"><p class="h5">First Name</p></label>
                    <input type="text" name="first_name" id="first_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="last_name"><p class="h5">Last Name</p></label>
                    <input type="text" name="last_name" id="last_name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email"><p class="h5">Email</p></label>
                    <input type="text" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password"><p class="h5">Password</p></label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="conf_pass"><p class="h5">Confirm Password</p></label>
                    <input type="password" name="conf_pass" id="conf_pass" class="form-control">
                </div>
                <button class="btn btn-dark">Register</button>
            </form>
        </div>
        <div class="col-5 bg-success text-dark text-center">
            <h1>Log In</h1>
            {% for message in get_flashed_messages(category_filter=['log']) %}
            <p class ="text-warning">{{message}}</p>
            {% endfor %}
            <form action="/users/login" method="post">
                <div class="form-group">
                    <label for="email"><p class="h5">Email</p></label>
                    <input type="text" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password"><p class="h5">Password</p></label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <button class="btn btn-dark">Login</button>
            </form>
        </div>
    </div>
</body>
</html>