<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HTML Talbe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>
<body>
    <div class = "container">
        <table class = "table table-bordered table-striped table-sm">
            <thead class = thead-dark>
                <tr>
                    <th class = text-warning>First Name</th>
                    <th class = text-warning>Last Name</th>
                    <th class = text-warning>Full Name</th>
                </tr>   
            </thead>
            <tbody>
                {% for one_user in list%}
                <tr>
                    <td>{{one_user.first_name}}</td>
                    <td>{{one_user.last_name}}</td>
                    <td>{{one_user.first_name}} &nbsp;{{one_user.last_name}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>