<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>
    <title>New Ninjas</title>
</head>
<body>
    <form action="/ninjas/create" method="post" class="col-5 bg-dark p-5 my-5 mx-auto text-light">
        <h1 class="text-center text-primary">New Ninja</h1>
        <select name="dojo_id" id="dojo_id" class="form-control">
            {% for one_dojo in all_dojos %}
                <option value="{{one_dojo.id}}">{{one_dojo.name}}</option>
            {%endfor%}
        </select>
        <p>First Name</p>
        <input type="text" name="first_name" id="first_name" class="form-control">
        <p>Last Name</p>
        <input type="text" name="last_name" id="last_name" class="form-control">
        <p>Age</p>
        <input type="number" name="age" id="age" class="form-control">
        <button class="btn btn-primary">Create</button>
    </form>
</body>
</html>