<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Add a Dog</title>
</head>
<body>
    <h1>Add a Dog</h1>
    <form action="/dogs/create" method="post">
        {% for message in get_flashed_messages() %}
            <p class="text-center text-warning">{{message}}</p>
        {% endfor %}
        <p>Name</p>
        <input type="text" name="name" id="name">
        <p>Breed</p>
        <input type="text" name="breed" id="breed">
        <p>Age</p>
        <input type="number" name="age" id="age">
        <button>Add Dog</button>
    </form>
</body>
</html>