* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS";
}

.container {
    background-color: gray;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: black;
}

.navbox {
    background-color: black;
    width: 700px;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar-left {
    display: flex;
    color: white;
    gap: 20px;
    align-items: center;
}

h2 {

}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

button {
    color: white;
    background-color: teal;
    padding-left: 2%;
    padding-right: 2%;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
}

.profile-body {
    display: flex;
    width: 700px;
    justify-content: center;
}

.column1 {
    background-color: white;
    width: 65%;
}

.user-id {
    background-color: teal;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-profile-top {
    background-color: teal;
    height: 100px;
}

.profilepic {
    height: 100px;
    margin-top: 50px;
    margin-left: 10px;
    border: 2px white solid;
    box-shadow: 0px 0px 5px gray;
}

.user-profile-body {
    background-color: white;
    border: 2px solid gray;
    border-top: none;
    padding-top: 50px;
    padding-left: 10px;
}

.userh1 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.userLocation {
    height: 25px;
}

.imagerow {
    margin-bottom: 10px;
    align-items: center;
}

p {
    margin-bottom: 10px;
}

span {
    margin-left: 10px;
}

.gear {
    height: 20px;
}

.education {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-top {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.education-bottom {
    color: black;
    background-color: white;
    padding-top: 10px;
    border: 2px solid gray;
    border-top: none;
    padding-left: 10px;
}

.date {
    font-weight: light;
    color: gray;
}

.column2 {
    width: 35%;
}

.requests {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.request-row {
gap: 10px;
margin-top: 5px;
display: flex;
justify-content: space-between;
padding-left: 5px;
padding-right: 5px;
}

.userIcon {
    height: 25px;
}

.yes-no {
    height: 20px;
}

.connections {
    margin-top: 10px;
    margin-bottom: 10px;
}

.connections-row {
    gap: 10px;
    margin-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    display: flex;
    }

.view-more {
    border-top: 2px solid gray;
    padding-top: 5px;
    padding-bottom: 5px;
}

.view-moreText {
    text-decoration: underline;
}

.request-number {
    background-color: lightgray;
    border-radius: 100%;
    margin-right: 5px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.request-number1 {
    background-color: lightgray;
    border-radius: 100%;
    width: 20px;
    margin-right: 5px;
    text-align: center;
}

.social-bottom {
    border: 2px solid gray;
}